<ion-view view-title="Stat Priority">
  <ion-content class="padding" ng-controller="StatsCtrl">
    <div class="card">
      <div class="item item-divider">
        Stats Priority
      </div>
      <div class="item item-text-wrap">
        {{s.statPriority}}
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Stats Summaries
      </div>
      <div class="item item-text-wrap">
        {{s.statSummaries}}
      </div>
    </div>
  </ion-content>
</ion-view>
