<ion-view view-title="Talents & Glyphs">
  <ion-content ng-controller="TalentsCtrl">
    <div class="card">
      <div class="item item-divider">Talents</div>
      <div class="item item-text-wrap">
        {{t.talents}}
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Major Glyphs</div>
      <div class="item item-text-wrap">
        {{t.majorGlyphs}}
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Minor Glyphs</div>
      <div class="item item-text-wrap">
        {{t.minorGlyphs}}
      </div>
    </div>
  </ion-content>
</ion-view>
