<ion-view view-title="Stat Priority">
  <ion-content class="padding" ng-controller="StatsCtrl">
    <div class="h3 text-center">
      Stats Priority
    </div>

    <!-- Sets up the 3 lines for stat priority -->
    <div class="card">
      <div class="item" style="border: 0;" ng-repeat="x in s.statPriority">{{x}}</div>
    </div>

    <div class="h3 text-center">
      Stats Summaries
    </div>

    <!-- Sets headers and content for each -->
    <div class="card" ng-repeat="x in s.statSummaries">
      <div class="item item-divider item-dark">{{x[0]}}</div>
      <div class="item item-text-wrap">{{x[1]}}</div>
    </div>
  </ion-content>
</ion-view>
