<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- TODO: Icons for specs and classes-->

  <!-- Classes Tab -->
  <ion-tab title="Classes" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/classes">
    <ion-nav-view name="tab-classes"></ion-nav-view>
  </ion-tab>

  <!-- Stats Tab -->
  <ion-tab title="Stats" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-tab>

  <!-- Gems Tab -->
  <ion-tab title="Gems" icon-off="ion-ios-color-filter-outline" icon-on="ion-ios-color-filter-outline" href="#/tab/gems">
    <ion-nav-view name="tab-gems"></ion-nav-view>
  </ion-tab>

  <!-- Talents Tab -->
  <ion-tab title="Talents" icon-off="ion-levels" icon-on="ion-levels" href="#/tab/talents">
    <ion-nav-view name="tab-talents"></ion-nav-view>
  </ion-tab>

  <!-- Rotation Tab -->
  <ion-tab title="Rotation" icon-off="ion-load-a" icon-on="ion-load-a" href="#/tab/rotation">
    <ion-nav-view name="tab-rotation"></ion-nav-view>
  </ion-tab>

</ion-tabs>
